body {
  overflow-x: hidden !important;
  display: none;
  padding-top: 0px !important;
}

h2 {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

a {
  text-decoration: none !important;
}

input[type="checkbox"],
input[type="radio"].form-control {
  height: 15px;
}

textarea {
  resize: vertical;
  min-height: 150px;
}

.not-logged {
  background: #2d2d2d;
}

@media (min-width: 1160px) {
  .not-logged {
    background-size: contain;
  }
}

.btn:focus {
  outline: none !important;
}

.logged {
  background-color: #f5f5f5;
  background-image: none;
}

#brand {
  top: -100px !important;
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
  color: #c00 !important;
}

.right {
  float: right;
}

.soft {
  font-weight: 600;
}

.divider {
  border-top: 1px solid #d1d1d1;
  margin-top: 0px;
  margin-bottom: 10px;
}

.list-details {
  margin-bottom: 5px;
}

.loader-spinner {
  margin-bottom: 20px;
}

.card-info-title {
  margin-right: 8px;
}

.span-radio {
  margin-right: 20px;
}

.card-pf-title {
  min-height: 17px;
}

.col-brand {
  height: 15px !important;
}

.container-fluid {
  padding: 0px !important;
}

.container-cards-pf {
  margin-top: 0px !important;
}

.list-group-item {
  text-decoration: none !important;
}

.login-main-name {
  margin-top: -10px !important;
  font-size: 16px !important;
}

.login-main-icon {
  margin-right: 6px !important;
}

.login-main-type {
  margin-top: -4px !important;
  text-align: right !important;
}

.about-logo {
  height: 50px !important;
}

.modal-footer {
  margin-top: 0px !important;
}

.alert {
  margin-bottom: 0px !important;
}

.global-search {
  padding-left: 0px !important;
}

.global-search-icon {
  display: none;
}

.good-table {
  padding-left: 20px;
  padding-right: 20px;
}

.table>thead input {
  background-image: none !important;
  border-radius: 1px !important;
  width: calc(50%) !important;
}

.table>thead {
  background-image: none !important;
}

.table>thead tr th:first-child {
  padding-left: 25px !important;
}

.table>tbody tr td:first-child {
  padding-left: 25px;
}

.table-condensed>tbody tr td:first-child {
  padding-left: initial;
}

.table>thead th {
  color: #464646 !important;
  border: none !important;
  background: #f5f5f5 !important;
  border-bottom: 2px solid #39a5dd !important;
  font-size: 14px !important;
}

.table>thead th.sorting:hover {
  cursor: pointer;
}

.table>tbody tr {
  background-color: white;
  height: 47px;
}

.table-condensed>tbody tr {
  height: 30px;
}

.table-condensed>tr td {
  height: 30px;
}

.table>tbody tr:hover {
  background-color: #def3ff;
}

.table>tbody tr td {
  line-height: 31px !important;
  white-space: nowrap;
}

.table>tbody tr td .modal {
  line-height: initial;
}

.table-footer {
  padding-left: 20px;
  padding-top: 5px;
  padding: 0px;
}

.table-footer select {
  font-size: 12px !important;
}

.table-footer .pull-left {
  font-size: 12px;
  line-height: 26px;
}

.table-footer .pull-left label {
  margin-bottom: 0px;
}

.table input:focus {
  border-color: #0088ce !important;
  outline: 0 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(0, 136, 206, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(0, 136, 206, 0.6) !important;
}

.table td[data-v-d89f00e8],
.table th[data-v-d89f00e8]:not(.line-numbers) {
  text-align: left;
}

.form-control {
  box-shadow: none !important;
}

.pass-confirm-err {
  height: 5px;
  background: #cc0000;
  width: 100px;
  display: block;
}

.pass-confirm-ok {
  height: 5px;
  background: #3f9c35;
  width: 100px;
  display: block;
}

.modal-spinner {
  vertical-align: middle;
  margin-right: 8px !important;
}

.blank-slate-pf {
  border: none !important;
}

.pagination-controls a {
  font-size: 12px !important;
}

.pagination-controls .info {
  font-size: 12px !important;
}

.responsive {
  overflow-x: auto !important;
}

.details-info {
  font-size: 15px !important;
  margin-right: 5px;
  margin-bottom: 4px;
}

.popover-content {
  word-wrap: break-word !important;
}

.details-arrow {
  font-size: 20px !important;
}

.action-icon-menu {
  display: inline-block !important;
  width: 10px !important;
  text-align: center !important;
  margin-right: 10px !important;
}

.select-search {
  margin-left: 15px !important;
}

.no-color::before {
  color: black;
}

.orange {
  color: #ec7a08;
}

.yellow {
  color: #f0ab00;
}

.red {
  color: #cc0000;
}

.green {
  color: #3f9c35;
}

.blue {
  color: #00b9e4;
}

.gray {
  color: #8b8d8f;
}

.red-top {
  border-top-color: #cc0000 !important;
}

.yellow-top {
  border-top-color: #f0ab00 !important;
}

.orange-top {
  border-top-color: #ec7a08 !important;
}

.unsplash {
  background: rgba(0, 0, 0, 0.35);
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  border-radius: 3px;
}

.login-pref-option {
  font-size: 20px !important;
  margin-left: 10px;
}

.text-center {
  text-align: center !important;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.absolute-center-top {
  margin: auto !important;
  position: absolute !important;
  top: 5px !important;
  left: 0 !important;
  right: 0 !important;
}

.iframe-container {
  position: fixed;
  border: none;
  top: 0px;
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  z-index: -1;
}

.absolute-center-message {
  margin: auto;
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
}

.brand-logo {
  height: 85px;
}

.profile-picture-mini {
  height: 37px;
  position: fixed;
  border-radius: 50%;
  margin-left: -45px;
  margin-top: -10px;
  border: 1px solid #39a5dd;
  padding: 2px;
}

.clipboard-btn {
  margin-left: 8px;
  margin-top: -4px;
}

.adjust-icon-size {
  width: 75px !important;
  height: 75px !important;
  font-size: 30px !important;
  line-height: 72px !important;
}

.renew-button {
  margin-left: 8px;
}

.clear-filters {
  font-size: 14px;
  line-height: 16px;
}

.disabled-top {
  border-top-color: #8b8d8f !important;
}

.disabled-circle {
  border-color: #8b8d8f !important;
  color: #8b8d8f !important;
}

.filters-container {
  margin: 10px !important;
}

.servers-container {
  margin-top: 15px;
}

.no-padding-left {
  padding-left: 0px !important;
}

.filter-option:hover {
  cursor: pointer;
}

.details-pay-item {
  display: flex !important;
}

.done-payment-button {
  float: right;
  margin-top: 10px;
}

.click-hover:hover {
  cursor: pointer;
  color: #39a5dd;
}

.no-padding-top {
  padding-top: 0px !important;
}

.row-divider {
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 20px;
}

.icon-header-panel {
  float: right;
  margin-top: 0;
  padding-right: 4px;
}

.resources-container {
  margin-top: -10px !important;
}

.resources-panel {
  padding-left: 15px;
  padding-right: 15px;
}

.donut-title-big-pf {
  font-size: 22px !important;
}

.resource-info-details {
  min-height: 20px;
}

.inline-block {
  display: inline-block;
}

.system-note {
  display: inline-block;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plan-icon {
  border: 2px solid #39a5dd;
  border-radius: 50%;
  height: auto;
  width: 42px;
  position: absolute;
  left: 55%;
  top: 15%;
  background: white;
}

.profile-picture-main {
  padding: 4px;
}

.details-pay-item .dropdown-toggle,
.details-pay-item>a {
  font-size: 110%;
}

.details-markdown ul {
  list-style: none;
  padding: 0;
}

.details-markdown li {
  padding-left: 1.3em;
}

.details-markdown li:before {
  content: "\f00c";
  /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  /* same as padding-left set on li */
  width: 1.3em;
  /* same as padding-left set on li */
}
