[Unit]
Description=Redis persistent key-value database
After=stunnel@%i.service
Requires=stunnel@%i.service
ConditionPathExists=/etc/redis-%i.conf

[Service]
Type=notify
ExecStart=/usr/bin/redis-server /etc/redis-%i.conf --daemonize no
ExecStop=/usr/bin/redis-cli -s /var/run/redis/%i.sock shutdown
User=redis
Group=nginx
RuntimeDirectory=redis
RuntimeDirectoryMode=0755
LimitNOFILE=10240

[Install]
WantedBy=multi-user.target
